<div [ngClass]="displayClass">
    <div class="mainDisplay">
        <h2 class="weather-title">
            <span>{{location}}</span> As of {{time | date : "'today at' hh:mm a"}} 
        </h2>
    
        <div class="weatherIcon">
            <p *ngIf="weatherData.main?.temp" class="temp">{{weatherData.main.temp}} °<span *ngIf="systemOfMeasurement === 'metric'">C</span><span *ngIf="systemOfMeasurement !== 'metric'">F</span></p>
            <img [src]="weatherIconUrl"/>
        </div>
    
        <p class="temp-desc">{{ weatherData.weather[0].description  | titlecase}}</p>
    
        <div class="temperature-display">
            <p><span *ngIf="weatherData.main?.temp_min">Min {{weatherData.main.temp_min}} °<span *ngIf="systemOfMeasurement === 'metric'">C</span><span *ngIf="systemOfMeasurement !== 'metric'">F</span></span> • <span *ngIf="weatherData.main?.temp_max">Max {{weatherData.main.temp_max}} °<span *ngIf="systemOfMeasurement === 'metric'">C</span><span *ngIf="systemOfMeasurement !== 'metric'">F</span></span></p>
        </div>
    </div>
    
    <div class="details">
        <h2 class="weather-title">
            Details
        </h2>

        <span *ngIf="weatherData.main?.feels_like">
            <p class="temp-subheading">Feels Like</p>
            <div class="temp">
                {{weatherData.main.feels_like}} °
                <span *ngIf="systemOfMeasurement === 'metric'">
                    C
                </span>
                <span *ngIf="systemOfMeasurement !== 'metric'">
                    F
                </span>
            </div>
        </span>

        <div class="data-grid">
            <div class="grid-element" *ngIf="weatherData.main?.pressure">
                <div class="grid-flex">
                    <span class="material-icons icon">
                        compress
                    </span>
                    Pressure 
                </div>
                {{weatherData.main.pressure}} hPa
            </div>
         
            <div class="grid-element" *ngIf="weatherData.main?.humidity">
                <div class="grid-flex">
                    <span class="material-icons icon">
                        water_drop
                    </span>
                    Humidity
                </div>
                {{weatherData.main.humidity}}%
            </div> 

            <div class="grid-element" *ngIf="weatherData.main?.sea_level">
                <div class="grid-flex">
                    <span class="material-icons icon">
                        waves
                    </span>
                    Sea Level
                </div>
                {{weatherData.main.sea_level}} hPa       
            </div>

            <div class="grid-element" *ngIf="weatherData.main?.grnd_level">
                <div class="grid-flex">
                    <span class="material-icons icon">
                        grass
                    </span>
                    Ground Level
                </div>
                {{weatherData.main.grnd_level}} hPa
            </div>

            <div class="grid-element" *ngIf="weatherData?.visibility">
                <div class="grid-flex">
                    <span class="material-icons icon">
                        visibility
                    </span>
                    Visibility
                </div>

                <span *ngIf="systemOfMeasurement === 'metric'">
                    {{weatherData.visibility}} km
                </span>
                
                <span *ngIf="systemOfMeasurement !== 'metric'">
                    {{weatherData.visibility}} miles
                </span>
            </div>

            <div class="grid-element" *ngIf="weatherData.wind?.speed">
                <div class="grid-flex">
                    <span class="material-icons icon">
                        speed
                    </span>
                    Wind Speed
                </div>
                
                <span *ngIf="systemOfMeasurement === 'metric'">
                    {{weatherData.wind.speed}} m/s
                </span>
                
                <span *ngIf="systemOfMeasurement !== 'metric'">
                    {{weatherData.wind.speed}} miles/h
                </span>
            </div>
                
            <div class="grid-element" *ngIf="weatherData.wind?.deg">
                <div class="grid-flex">
                    <span class="material-icons icon">
                        explore
                    </span>
                    Wind Direction
                </div>
                {{weatherData.wind.deg}}°
            </div>

            <div class="grid-element" *ngIf="weatherData.clouds?.all">
                <div class="grid-flex">
                    <span class="material-icons icon">
                        wb_cloudy
                    </span>
                    Cloudiness
                </div>
                {{weatherData.clouds.all}}%
            </div>
            
            <div class="grid-element" *ngIf="weatherData.rain?.['1h']">
                <div class="grid-flex">
                    <span class="material-icons icon">
                        umbrella
                    </span>
                    Rain Fall
                </div>
                {{weatherData.rain['1h']}} mm
            </div>

            <div class="grid-element" *ngIf="weatherData.snow?.['1h']">
                <div class="grid-flex">
                    <span class="material-icons icon">
                        cloudy_snowing
                    </span>
                    Snow Fall
                </div>
                {{weatherData.snow['1h']}} mm
            </div>
        </div>
    </div>
</div>
