<div [ngClass]="displayClass" *ngIf="weatherData">
    <div class="mainDisplay">
        <h2 class="weather-title">
            <span>{{location}}</span> As of {{time | date : "'today at' hh:mm a"}} 
        </h2>
    
        <div class="weatherIcon">
            <p *ngIf="weatherData.main?.temp" class="temp">{{weatherData.main.temp}} °<span *ngIf="systemOfMeasurement === 'metric'">C</span><span *ngIf="systemOfMeasurement !== 'metric'">F</span></p>
            <img [src]="getWeatherIconSrc(weatherData)"/>
        </div>
    
        <p class="temp-desc">{{ weatherData.weather[0].description  | titlecase}}</p>
    
        <div class="temperature-display">
            <p><span *ngIf="weatherData.main?.temp_min">Min {{weatherData.main.temp_min}} °<span *ngIf="systemOfMeasurement === 'metric'">C</span><span *ngIf="systemOfMeasurement !== 'metric'">F</span></span> • <span *ngIf="weatherData.main?.temp_max">Max {{weatherData.main.temp_max}} °<span *ngIf="systemOfMeasurement === 'metric'">C</span><span *ngIf="systemOfMeasurement !== 'metric'">F</span></span></p>
        </div>
    </div>
    
    <div class="details">
        <h2 class="weather-title">
            Details
        </h2>

        <span *ngIf="weatherData.main?.feels_like" class="span-subheading">
            <div>
                <p class="temp-subheading">Feels Like</p>
                <div class="temp">
                    {{weatherData.main.feels_like}} °
                    <span *ngIf="systemOfMeasurement === 'metric'">
                        C
                    </span>
                    <span *ngIf="systemOfMeasurement !== 'metric'">
                        F
                    </span>
                </div>
            </div>

            <div *ngIf="sunrise && sunset" class="rise-set">
                <p class="sunrise">
                    <span class="material-icons icon">
                        wb_twilight
                    </span>
                    {{sunrise | date : 'shortTime'}}
                </p>
                <p class="sunset">
                    <span class="material-icons icon">
                        wb_twilight
                    </span>
                    {{sunset | date : 'shortTime'}}
                </p>
            </div>
        </span>

        <div class="data-grid">
            <div class="grid-element" *ngIf="weatherData.main?.pressure">
                <div class="grid-flex">
                    <span class="material-icons icon">
                        compress
                    </span>
                    Pressure 
                </div>
                {{weatherData.main.pressure}} hPa
            </div>
         
            <div class="grid-element" *ngIf="weatherData.main?.humidity">
                <div class="grid-flex">
                    <span class="material-icons icon">
                        water_drop
                    </span>
                    Humidity
                </div>
                {{weatherData.main.humidity}}%
            </div> 

            <div class="grid-element" *ngIf="weatherData.main?.sea_level">
                <div class="grid-flex">
                    <span class="material-icons icon">
                        waves
                    </span>
                    Sea Level
                </div>
                {{weatherData.main.sea_level}} hPa       
            </div>

            <div class="grid-element" *ngIf="weatherData.main?.grnd_level">
                <div class="grid-flex">
                    <span class="material-icons icon">
                        grass
                    </span>
                    Ground Level
                </div>
                {{weatherData.main.grnd_level}} hPa
            </div>

            <div class="grid-element" *ngIf="weatherData?.visibility">
                <div class="grid-flex">
                    <span class="material-icons icon">
                        visibility
                    </span>
                    Visibility
                </div>

                <span *ngIf="systemOfMeasurement === 'metric'">
                    {{weatherData.visibility}} km
                </span>
                
                <span *ngIf="systemOfMeasurement !== 'metric'">
                    {{weatherData.visibility}} miles
                </span>
            </div>

            <div class="grid-element" *ngIf="weatherData.wind?.speed">
                <div class="grid-flex">
                    <span class="material-icons icon">
                        speed
                    </span>
                    Wind Speed
                </div>
                
                <span *ngIf="systemOfMeasurement === 'metric'">
                    {{weatherData.wind.speed}} m/s
                </span>
                
                <span *ngIf="systemOfMeasurement !== 'metric'">
                    {{weatherData.wind.speed}} miles/h
                </span>
            </div>
                
            <div class="grid-element" *ngIf="weatherData.wind?.deg">
                <div class="grid-flex">
                    <span class="material-icons icon">
                        explore
                    </span>
                    Wind Direction
                </div>
                {{weatherData.wind.deg}}°
            </div>

            <div class="grid-element" *ngIf="weatherData.clouds?.all">
                <div class="grid-flex">
                    <span class="material-icons icon">
                        wb_cloudy
                    </span>
                    Cloudiness
                </div>
                {{weatherData.clouds.all}}%
            </div>
            
            <div class="grid-element" *ngIf="weatherData.rain?.['1h']">
                <div class="grid-flex">
                    <span class="material-icons icon">
                        umbrella
                    </span>
                    Rain Fall
                </div>
                {{weatherData.rain['1h']}} mm
            </div>

            <div class="grid-element" *ngIf="weatherData.snow?.['1h']">
                <div class="grid-flex">
                    <span class="material-icons icon">
                        cloudy_snowing
                    </span>
                    Snow Fall
                </div>
                {{weatherData.snow['1h']}} mm
            </div>
        </div>
    </div>

    <div class="hourly">
        <h2 class="weather-title">
            Tomorrow's Forecast
        </h2>

        <div class="forecast" *ngIf="hourlyWeather.length > 0" >
            <div *ngFor="let hour of hourlyWeather">
                <div class="hourly-daily-forecast">
                    <div class="forecast-time"> {{hour.dt_txt | date : "shortTime"}}</div>
                    <div>{{hour.main.temp}} °<span *ngIf="systemOfMeasurement === 'metric'">C</span><span *ngIf="systemOfMeasurement !== 'metric'">F</span></div>
                    <img [src]="getWeatherIconSrc(hour)"/>
                    <div *ngIf="!(hour?.rain || hour?.snow)">--</div>
                    <div *ngIf="hour?.rain">{{hour.rain['1h'] ? hour.rain['1h'] : hour.rain['3h']}}mm</div>
                    <div *ngIf="hour?.snow">{{hour.snow['1h'] ? hour.snow['1h'] : hour.snow['3h']}}mm</div>
                </div>
            </div>
        </div>
    </div>

    <div class="daily">
        <h2 class="weather-title">
            Daily Forecast
        </h2>

        <div class="forecast" *ngIf="dailyWeather.length > 0">
            <div *ngFor="let daily of dailyWeather">
                <div class="hourly-daily-forecast">
                    <div class="forecast-time">{{daily.dt_txt | date : "EEEE"}}</div>
                    <div class="max-temp">{{daily.main.temp_max}} °<span *ngIf="systemOfMeasurement === 'metric'">C</span><span *ngIf="systemOfMeasurement !== 'metric'">F</span></div>
                    <div class="min-temp">{{daily.main.temp_min}} °<span *ngIf="systemOfMeasurement === 'metric'">C</span><span *ngIf="systemOfMeasurement !== 'metric'">F</span></div>
                    <img [src]="getWeatherIconSrc(daily)"/>
                </div>
            </div>
        </div>

    </div>
</div>

<div [ngClass]="displayClass" *ngIf="!weatherData">
    <div class="mainDisplay">
        <h1>Oops!</h1>
        <p class="errmsg">We can't seem to find the coordinates you are looking for. Error code: 404</p>
    </div>
</div>